# Dependencies
node_modules/
dist/

# Python
__pycache__/
*.pyc
.python-version
.venv/
venv/

# Environment variables
.env
.env.*
!.env.example

# Database
*.db
*.sqlite
*.sqlite3

# Build output
dist/